.icon {
    border-style:solid;
    border-width:1px;
    width:35px;
    height:35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stage {
  border: 1px solid black;
}

.box{
    border: 1px solid black;
    background-color: #7FFFD4;
	border-radius: 5px
}

#high-scores {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #4B4A47;
    color: white;
    opacity: 0.7;
    /* width: fit-content; */
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

.error {
    opacity: 1;
    font-weight: bold;
}

.controls{
	border: 1px solid black;
}

.button {
    background-color: #E89C2E; 
    border: 1px solid black;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: "Lucida Console", Monaco, monospace;
}

.grid{
    background-color: #7FFFD4; 
}

.body{
     background: "icons/ww-back.jpg";
     background-size: 300px 100px;
}

.home{
    border: 1px solid black;
    background-color: #4B4A47;
    /* background-image: "icons/form-back.jpeg"; */
    opacity: 0.7;
	width: fit-content;
    border-radius: 30px;
    padding: 20px;
    color: white;
}

.secondary-button {
    color: black;
}

#profile{
    color: #FFFAF0;
    position: absolute;
    /* right:20px; */
    /* text-align:right; */
    background-color: black;
    opacity: 0.7;
    border-radius:4px;
    height: 300px;
    /* width: 300px; */
    left: 30%;
    padding: 1%;
    font-family: "Lucida Console", Monaco, monospace;
}

#banner {
    width: 100%;
    background-color: black;
    color: white;
    height: fit-content;
    top: 0;
    position: absolute;
    /* display:block; */
}

.clicked-nav-button {
    background: #B77414;
    font-family: "Lucida Console", Monaco, monospace;
}

.nav-button {
    background: grey;
    font-family: "Lucida Console", Monaco, monospace;
}

#lobby:not(#startGameButton) {
    /* background-color: #4B4A47; */
    /* opacity: 0.9; */
    color: white;
    height: 100%;
    width: 100%;
    font-family:"Lucida Console", Monaco, monospace;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#chatArea{
    position: absolute;
    left: 20px;
    width:300px; 
    height:300px; 
}

#chat {
    background-color: white;
    color: black;
    height: 100%;
}

#messages {
    border-width:4px 4px 2px 4px;
    border: solid black; 
    background-color: white;
    color: black;
    height:100%;
    overflow-y: auto;
    text-shadow: none;
}

#message {
    width: 100%;
    overflow-y: auto;
    color: black;
    border-width: 2px 4px 4px 4px;
    border: solid black;
}

#avatars {
    position:absolute;
    right: 20px;
    width: 300px;
    height: 300px;
}

#pick-avatar {
    border: 1px solid black;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.avatar{
    width:25px;
    height:25px
}

.avatar-button {
    width:100%;
    height:100%;
}

.avatar-button:hover{
    margin:5px;
}

.avatar-button-clicked{
    width:100%;
    height:100%;
    margin:5px;
    border:1px solid blue;
}

.not-banner {
    position: absolute;
    top: 50px;
    margin: 10px;
}

#legend {
    /* position:absolute; */
    right:40px;
    background-color:white;
    opacity:0.8;
    border: 1px solid black;
    border-radius:2px;
    padding:5px;
}

#HS {
    position:absolute;
    
    right:40px;
    background-color:white;
    opacity:0.8;
    border: 1px solid black;
    border-radius:2px;
    padding:5px;
}

#lossMsg {
    position:absolute;
    bottom:20px;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    text-align: center;
    border:1px white;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width:100%;
}

.score-board{

    bottom: 0px;
    top: 300px;
    margin: 10px;
    width: 300px;
}